<!-- counseling-services.component.html -->
<div class="rc-container">
    <h1>Services</h1>
    <div class="row">
        <div class="col-xs-12">
            <p>
                Restoration Counseling is a private practice in the Woodlands area that is owned and operated by Alyssa Meyers, MA, LPC, NCC.  Alyssa primarily works with adults and teenagers and specializes in the following areas:
            </p>
            <p>
                Anxiety Disorders, Depression, Trauma, Abuse-related issues, and Christian-based counseling
            </p>
            <p>
                Counseling services cater to your personality, circumstances, and processing style; however, at Restoration Counseling there are specific counseling techniques used to ensure that you are receiving the best care!
            </p>    
            <p>
                <ul>
                    <li>
                        <a data-toggle="collapse" data-target="#cbt" aria-expanded="false">Cognitive Behavioral Therapy (CBT)</a>
                        <div id="cbt" class="collapse">
                            CBT works to modify dysfunctional emotions, behaviors, and thoughts. In this type of therapy, we work to create healthy changes and solutions to your problems by challenging distorted thinking and changing destructive patterns in your behavior.
                        </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#dbt" aria-expanded="false">Dialectical Behavioral Therapy (DBT)</a>
                        <div id="dbt" class="collapse">
                            DBT is often utilized alongside CBT and focuses on regulating your emotions.  This is a great technique for those who experience intense or quick shifts in mood and may have difficulty controlling these feelings.  DBT will help you gain skills on how to regulate your emotions and interact with others appropriately.
                        </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-target="#emdr" aria-expanded="false">Eye Movement Desensitization and Reprocessing (EMDR)</a>
                        <div id="emdr" class="collapse">
                            EMDR is a unique therapy technique used for individuals who have experienced trauma. When an individual experiences trauma, the brain cannot process as it ordinarily does and becomes "frozen" on a specific memory. EMDR is utilized to bring our thought processing back to its normal state and to see disturbing events in a less distressing way. For more information to find out if EMDR is right for you, you can view the video below or visit <a href="emdria.org" target="_blank">emdria.org</a> for more information.
                            <br />
                            <br />
                            <iframe width="100%" height="300px" src="https://www.youtube.com/embed/_QJbCtr8bvA" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </li>
                </ul>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="../img/office-outside.jpg" width="100%" />
        </div>
    </div>
</div>
