<div class="rc-container">
    <h1>
        Forms
    </h1>
    <h4>
        Intake Forms for Scheduled Clients
    </h4>
    <ul>
        <li>
            <a href="/docs/Informed_Consent_Form.pdf" target="_self">
                Informed Consent
            </a>
        </li>
        <li>
            <a href="/docs/Adult_Intake_Form.pdf" target="_self">
                Adult Intake Form
            </a>
        </li>
        <li>
            <a href="/docs/Child_Adolescent_Intake_Form.pdf" target="_self">
                Child/Adolescent Intake Form
            </a>
        </li>
        <li>
            <a href="/docs/Credit_Card_Payment_Form.pdf" target="_self">
                Credit Card Payment Form
            </a>
        </li>
        <li>
            <a href="/docs/HIPAA_Policies.pdf" target="_self">
                HIPAA Policies
            </a>
        </li>
    </ul>
</div>
