<!--home.component.html-->
<div class="row tiles-rc">
    <div class="col-md-4 col-xs-12 text-center">
        <div class="tile-rc">
            <a href="#counseling-services" class="counseling-bg">Counseling Services</a>
        </div>
    </div>
    <div class="col-md-4 col-xs-12 text-center">
        <div class="tile-rc">
            <a href="#what-to-expect" class="what-to-expect-bg">What To Expect</a>
        </div>
    </div>
    <div class="col-md-4 col-xs-12 text-center">
        <div class="tile-rc">
            <a href="#crisis-resources" class="crisis-resources-bg">Crisis Resources</a>
        </div>
    </div>
</div>
