<div class="rc-container">
    <div class="row">
        <div class="col-xs-8">
            <h1>
                What to Expect
            </h1>
            <p>
                Communication and treatment is personalized, and Alyssa will be the one you contact directly for all your counseling needs.
            </p>
            <h2>
                Sessions
            </h2>
            <p>
                Alyssa offers a complimentary phone call prior to your first session to ensure that you feel comfortable with details and regulations prior to scheduling.  This is a great time to ask questions about the counseling process and calm any nerves you may have.
            </p>
            <p>
                Counseling sessions are typically 50 minutes long, and a big goal at Restoration Counseling is that you feel comfortable throughout every step of the way!  We will collaborate together to identify treatment goals and create a road map for your counseling journey.
            </p>
        </div>
        <div class="col-xs-4" style="padding-top: 40px;">
            <img src="../img/office-inside.jpg" width="100%" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>
                Payment Options
            </h2>
            <p>
                You can pay with cash, personal check, or credit card for each of your sessions.  While insurance is not accepted, many insurance panels have out-of-network benefits.  A detailed receipt of services will be provided upon request for anyone who would like to file back with their insurance company for potential reimbursement. For further details, feel free to contact Alyssa directly.
            </p>
        </div>
    </div>
</div>