<!-- about.component.html -->
<div class="rc-container">
    <h1>About</h1>
    <div class="row">
        <div class="col-xs-4">
            <img src="../img/headshot.jpg" width="100%" />
        </div>
        <div class="col-xs-8">
            <p>
                Alyssa Meyers is a Licensed Professional Counselor in the state of Texas.
            </p>
            <p>
                Before entering into a private practice setting, Alyssa gained counseling experience in community agencies, as well as several years experience at a crisis-oriented inpatient care facility.
            </p>
            <p>
                Alyssa is passionate about creating a space of trust and honesty for all clients seeking change in their lives.  Specialty areas include: anxiety/panic disorders, depression, past abuse, PTSD, mood disorders, and spirituality.
            </p>
            <p>
                When Alyssa is not counseling, she loves spending time with family and continuing her musical endeavors by writing and performing music with her band and local church.
            </p>
        </div>
    </div>
</div>
