<!-- counseling-services.component.html -->
<div class="rc-container">
    <h1>Services</h1>
    <div class="row">
        <div class="col-xs-8">
            <p>
                The purpose of counseling is to fulfill your treatment goals in a therapeutic and non-judgmental manner in order to create change in your life.
            </p>
            <p>
                Although many of the techniques used in counseling will vary based on your personal needs, typical techniques you will find at Restoration Counseling include evidence-based theories such as Cognitive Behavior Therapy (CBT), Dialectical Behavior Therapy (DBT), and <a href="#emdr">EMDR</a>.  CBT helps individuals manage problems by focusing on thoughts and behaiors that need to be altered.  DBT skills are often implemented alongside CBT to educate clients on the importance of distress tolerance and emotion regulation.
            </p>
            <p>
                An average session lasts about 50 minutes and will vary in frequency based on your current circumstances and needs.  All clients are provided with a superbill that can be used for insurance reimbursement.  For more information on services, please inquire about a free phone consultation by visiting the <a href="#contact">contact</a> page.
            </p>
            <h4>
                Forms
            </h4>
            <ul>
                <li>
                    <a href="/docs/Informed_Consent_Form.doc" target="_self">
                        Informed Consent
                    </a>
                </li>
                <li>
                    <a href="/docs/Adult_Intake_Form.doc" target="_self">
                        Adult Intake Form
                    </a>
                </li>
                <li>
                    <a href="/docs/Child_Adolescent_Intake_Form.doc" target="_self">
                        Child/Adolescent Intake Form
                    </a>
                </li>
                <li>
                    <a href="/docs/Credit_Card_Payment_Form.doc" target="_self">
                        Credit Card Payment Form
                    </a>
                </li>
                <li>
                    <a href="/docs/Release_of_Information_Form.doc" target="_self">
                        Release of Information Form
                    </a>
                </li>
                <li>
                    <a href="/docs/HIPAA_Policies.doc" target="_self">
                        HIPAA Policies
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-xs-4">
            <img src="../img/office-inside.jpg" width="100%" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="../img/office-outside.jpg" width="100%" />
        </div>
    </div>
</div>
