<div class="rc-container crisis-resources-section">
    <h1>Crisis Resources</h1>
    <p>
        Although Restoration Counseling is equipped to handle crisis situations for current clients in session; Restoration Counseling is not a crisis-oriented facility.  If you or a loved one are experiencing a crisis or emergency, it is best advised that you call 911, visit your nearest emergency room, or contact one of the following resources:
    </p>
    <div class="text-center">
        <ul>
            <li>Tri-County Psychiatric Emergency Treatment Center: 800-659-6994</li>
            <li>National Suicide Prevention Line: 1-800-273-TALK (8255)</li>
            <li>Cypress Creek Hospital: 281-586-7600</li>
            <li>Kingwood Pines Hospital: 281-404-1001</li>
            <li>IntraCare North Hospital: 281-893-7200</li>
            <li>MHMR/Crisis Helpline: 713-970-7000</li>
            <li>Memorial Hermann Crisis Clinic (Spring Branch): 713-338-MHCC(6422)</li>
            <li>Teen Crisis Hotline: Text “START” to 741741</li>
            <li>Gulf Coast Center Crisis Hotline: 866-729-3848</li>
        </ul>
    </div>
</div>