<div class="rc-container">
    <h1>
        EMDR
    </h1>
    <p>
        Eye Movement Desensitization and Reprocessing (EMDR) is a unique therapy technique used for individuals who have experienced trauma.  When an individual experiences trauma, the brain cannot process as it ordinarily does and becomes "frozen" on a specific memory.  EMDR is utilized to bring our thought processing back to its normal state and to see disturbing events in a less distressing way.  For more information to find out if EMDR is right for you, please visit <a href="emdria.org" target="_blank">emdria.org</a>.
    </p>
    <iframe width="100%" height="300px" src="https://www.youtube.com/embed/_QJbCtr8bvA" frameborder="0" allowfullscreen></iframe>
</div>
