<div class="rc-container">
    <h1>Meet Alyssa</h1>
    <div class="row">
        <div class="col-xs-4">
            <img src="../img/headshot.jpg" width="100%" />
        </div>
        <div class="col-xs-8">
            <p>
                Hi there!  My name is Alyssa Meyers, and I am a Licensed Professional Counselor in the state of Texas and a Nationally Certified Counselor in the United States.
            </p>
            <p>
                Before entering a private practice setting, I gained counseling experience at community agencies, as well as several years’ experience at an inpatient hospital, where I served as lead therapist on the adult psychiatric unit.
            </p>
            <p>
                I am passionate about creating a space of trust and honesty for all clients who are seeking change in their lives. My specialty areas include: anxiety/panic disorders, depression, past abuse, PTSD, mood disorders, and spirituality.
            </p>
            <p>
                When I am not counseling, I love spending time with family and pursuing my musical endeavors with my band and local church.
            </p>
        </div>
    </div>
</div>
